@import "bootstrap";
@import "./users";

.header {
    width: 100%;
    height: 45px;
    border-bottom: solid 1px gray;
}

.main {
    display: block;
    float: left;
    width: 660px;
}

.sidebar {
    float: right;
    width: 275px;
    background-color: skyblue;

}

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.footer {
    width: 100%;
}

ul {
    overflow: hidden;
    height: 100%;
}

.header li {
    float: left;
    list-style-type: none;
    height: 100%;
    margin: 0 20px;

    a {
        display: block;
        padding: 10px 5px;
        height: 100%;
        text-align: center;
        background-color: rgb(240, 211, 168);
        border-radius: 10px;
    }

    a:hover {
        background-color: rgb(233, 102, 70);
        transition: 0.5s;
    }
}