@import "bootstrap";
@import "./users";
@import "./budgets";

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    color: rgb(54, 38, 61);
    text-decoration: none;
}

.logo {
    width: 225px;
    height: 50px;
    margin: 0 auto;
    font-size: 40px;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.header {
    width: 100%;
    padding: 16px 0 10px;
}

.global-nav {
    text-align: center;
    border-bottom: 1px solid;

    .nav-item {
        display: inline-block;
        margin: 0 15px;

        a {
            display: inline-block;
            width: 140px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 8px;
            color: #666;
            font-size: 1.3rem;
            letter-spacing: 1px;
            transition: 0.2s;
        }

        a.active,
        .nav-item a:hover {
            background-color: #9dda58;
            color: #fff;
        }
    }


}

.account_menu {
    display: block;
    float: right;

    a {
        margin-right: 20px;
    }
}

.main {
    display: block;
    float: left;
    width: 660px;
}

.not_login_display {
    width: 100%;
    background-color: skyblue;

    .login_form {
        text-align: center;
    }
}

.sidebar {
    float: right;
    width: 275px;
    background-color: skyblue;
    font-size: 90%;
}

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.footer {
    width: 100%;
}

ul {
    overflow: hidden;
    height: 100%;
}