// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-title {
    text-align: center;
    border-bottom: double;
}

.form_wrapper {
    background-color: rgb(208, 233, 170);
    margin: auto 12%;
    border-radius: 10px;
    padding: 10px 7px;
}

.form_group {
    margin: 15px auto;
    border-left: 1px solid rgb(52, 34, 214);
    border-radius: 10px;

    .form_label {
        float: left;
        box-sizing: border-box;
        width: 220px;
        text-align: left;
        font-weight: bold;
        padding: 0 0 0 30px;
    }

    .form_field {
        height: 70px;
        padding-left: 5px;
    }
}

.form_group:last-child {
    border: none;
}

table.list {
    margin: 15px 0;
}

h2.table_title {
    margin-top: 20px;
}

table.list th,
table.list td {
    padding: 4px;
    border: solid 1px white;
}

table.list th {
    background-color: rgb(145, 230, 18);
}

table.list td {
    background-color: rgb(203, 231, 160);
}